.c-share {
  animation-delay: 600ms;
  animation-direction: forwards;
  animation-duration: 400ms;
  animation-fill-mode: both;
  animation-name: section-reveal;
  animation-timing-function: ease-out;
  background: rgba(color(grey-50), .8);
  height: 66px;
  position: fixed;
  top: calc(100vh - (#{$global-spacing-unit}*5.5));
  width: 100%;
  z-index: 1;

  @include mq($from: extra-wide) {
    background: none;
    left: 50%;
    position: absolute;
    top: auto;
    transform: translateX(-50%);
    width: $global-container-width + $global-spacing-unit*8 + 54px;
  }

  &--fix {
    position: fixed;
    top: 0;
  }

  &__icons {
    left: 0;
    margin: $global-spacing-unit $global-spacing-unit*2;
    position: absolute;

    @include mq($from: extra-wide) {
      height: 162px;
      margin: 0;
      top: $global-spacing-unit*2;
      width: 54px;
    }
  }

  &__link {
    display: inline-block;
    font-size: 0;
    padding: 6px;

    @include mq($from: extra-wide) {
      display: block;
      padding: 12px;
    }

    &--facebook {
      background: #3b5998;

      &:hover {
        background: darken(#3b5998, 10);
      }
    }

    &--linkedin {
      background: #4284df;

      &:hover {
        background: darken(#4284df, 10);
      }
    }

    &--twitter {
      background: #4aade8;

      &:hover {
        background: darken(#4aade8, 10);
      }
    }
  }

  &__icon {
    height: 30px;
    fill: color(white);
    width: 30px;
  }
}
