$colors: (
  brand:      #08599B,
  success:    #22872A,
  error:      #ff2744,
  orange:     #AD6200,
  green:      #22872A,
  blue:       #0B75CB,
  purple:     #3f51b5,
  pink:       #e91e63,
  cream:      #f6f4ef,
  white:      #fff,
  off-white:  #f6f6f6,
  grey-10:    #cbd8de,
  grey-30:    #9ba8af,
  grey-50:    #455a64,
  off-black:  #1c2d3c,
  black:      #000
) !default;
