$global-container-width: 1000px !default;
$global-columns: 12 !default;
$global-spacing-unit: 12px !default;
$global-spacing-unit-small: 6px !default;

$global-page-color: white;

$global-font-family: roboto, helvetica, arial, sans-serif !default;
$global-header-font-family: roboto-slab, serif !default;
$global-code-family: courier !default;
$global-font-size: 10px !default;
$global-line-height: 15px !default;
$global-text-color: grey-50;

$global-border-radius: 10px !default;
$global-border-radius-small: 5px !default;

$global-animation-speed-simple: 200ms;
