/**
 * Font-Face
 * Defined fonts
 */

 @font-face {
   font-family: roboto;
   font-weight: normal;
   src: url(/fonts/roboto-light.woff2) format('woff2'),
    url(/fonts/roboto-light.woff) format('woff');
 }

 @font-face {
   font-family: roboto-slab;
   src: url(/fonts/roboto-slab-regular.woff2) format('woff2'),
    url(/fonts/roboto-slab-regular.woff) format('woff');
 }
