<footer class="c-footer">
  <div class="o-container o-container--full">
    <div class="o-layout">
      <div class="o-layout__item u-width--half">
        <p>&copy;2017 Andi Smith.<br />The opinions expressed here are those of the author and do not represent my employer.</p>
      </div>
      <div class="o-layout__item u-width--half">
        <div class="o-list-inline__item u-last">
          <a class="c-footer__link" href="https://twitter.com/andismith">
            <svg class="c-footer__icon c-footer__icon--twitter"><use xlink:href="/img/icons.svg#icon-twitter"></use></svg>
          </a>
          <a class="c-footer__link" href="https://github.com/andismith/">
            <svg class="c-footer__icon c-footer__icon--github"><use xlink:href="/img/icons.svg#icon-github"></use></svg>
          </a>
          <a class="c-footer__link" href="https://linkedin.com/in/andismith">
            <svg class="c-footer__icon c-footer__icon--linkedin"><use xlink:href="/img/icons.svg#icon-linkedin"></use></svg>
          </a>
          <a class="c-footer__link" href="https://instagram.com/andismith">
            <svg class="c-footer__icon c-footer__icon--instagram"><use xlink:href="/img/icons.svg#icon-instagram"></use></svg>
          </a>
          <a class="c-footer__link" href="http://lanyrd.com/profile/andismith/">
            <svg class="c-footer__icon c-footer__icon--lanyrd"><use xlink:href="/img/icons.svg#icon-lanyrd"></use></svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
