{{ define "main" }}
<main class="o-container o-container--full">
  <div class="o-layout">
    <div class="o-layout__item">
      <header>
        <h1 class="c-title">Contact</h1>
      </header>
      <p>Please drop me a message if you'd like to get in touch.</p>
    </div>
    <div class="o-layout__item c-contact__item u-width--third">
      <a class="c-contact__link c-contact__link--twitter" href="https://twitter.com/andismith"><svg class="icon"><use xlink:href="/img/icons.svg#icon-twitter"></use></svg></a>
      <p><a href="https://twitter.com/andismith">DM me on Twitter</a> for speaking or writing opportunities.</p>
    </div>
    <div class="o-layout__item c-contact__item u-width--third">
      <a class="c-contact__link c-contact__link--linkedin" href="https://linkedin.com/in/andismith"><svg class="icon"><use xlink:href="/img/icons.svg#icon-linkedin"></use></svg></a>
      <p><a href="https://linkedin.com/in/andismith">Drop me a mail on LinkedIn</a> for collaboration opportunities.</p>
    </div>
    <div class="o-layout__item c-contact__item u-width--third">
      <a class="c-contact__link c-contact__link--github" href="https://github.com/andismith/"><svg class="icon"><use xlink:href="/img/icons.svg#icon-github"></use></svg></a>
      <p><a href="https://github.com/andismith/">Raise an issue on Github</a> if you have problems with my code.</p>
    </div>
    <div class="o-layout__item">
      <p>Please bear in mind that if you have a technical question, StackOverflow consistently has a better response time.</p>
    </div>
  </div>
</main>
{{ end }}
